* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
}

.card1 {
  min-height: 100%;
}

.card2 {
  height: 3.5em;
}

.card3 {
  height: 12em;
  white-space: pre-wrap;
  overflow: auto;
}
